.animate-img-1 {
    animation: mover 4s infinite  alternate;
}
@keyframes mover {
    100% { transform: translatey(-55px); }
}
.animate-img-2 {
    animation: mover2 4.5s infinite  alternate;
}
@keyframes mover2 {
    100% { transform: translateY(-55px); }
}
.animate-img-3 {
    animation: mover2 3.5s infinite  alternate;
}
@keyframes mover3 {
    100% { transform: translateY(-55px); }
}
.animate-scale {
    animation: zoom-in-zoom-out 3.5s ease infinite;
}
@keyframes zoom-in-zoom-out {
    0% {
    transform: scale(0.5, 0.5);
    }
    100% {
    transform: scale(1, 1);
    }
    0% {
    transform: scale(0.5, 0.5);
    }
    }